body {
  font-family: Arial;
  background-color: #f4f7fa;
  text-align: center;
  margin-top: 50px;
}
#zenDot {
  width: 30px;
  height: 30px;
  background: #7FB3D5;
  border-radius: 50%;
  margin: 20px auto;
  position: relative;
}
